body {
  margin: 0;
  perspective: 100%;
}
#comet {
  width: 30px;
  height: 30px;

  position: absolute;
  left: 50%;
  top: 63%;
  animation: jump 3s forwards infinite linear;
  transform-origin: 50%;
}
#subcomet {
  width: 30px;
  height: 30px;
  background: black;
  position: absolute;
  left: 30vw;
}
@keyframes jump {
  0% {
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
