.shift-ani {
  width: 100vw;
  height: 200px;
  background: url(./img/flags.png);
  background-size: 3600px auto;
  animation: shift 10s infinite linear;
  background-repeat: repeat-x;
  margin-top: 180px;
}

@keyframes shift {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -3600px 0;
  }
}
