/* html {
  font-family: "Noto Serif", serif;
} */

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'MapoGoldenPier';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 을유 버림 */
/* @font-face {
  font-family: "Eulyoo1945-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */

body,
h2,
h3,
p {
  margin: 0;
}

h2 {
  color: white;
  top: 45vh;
  position: sticky;
  font-size: 1.7rem;
  line-height: 1.4;
  text-align: center;
  font-weight: 500;
  font-family: 'MapoGoldenPier';
}

#earth-container {
  width: 100vw;
  height: 510px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#sectionMain {
  position: relative;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  /* height: 100vh; */
}

.s2 {
  position: relative;
  height: 100vh;
}

.sectionWorld {
  position: relative;
  height: 100vh;
}

.row {
  text-align: center;
  width: 100vw;
  margin: auto;
}

.flex {
  display: flex;
}

.col {
  width: 100vw;
}

.nav {
  position: fixed;
  top: 45vh;
  height: 50px;
  z-index: 3;
}

.nav-text {
  color: #181818;
  margin: auto;
}

.title {
  font-family: 'Handlee', cursive;
  font-size: 4.6rem;
  text-align: center;
  font-weight: 400;
  color: black;
  padding-top: 50px;
  margin-bottom: 20px;
}

#earth {
  width: 500px;
  height: 510px;
}

.rotate-text {
  font-family: 'Handlee', cursive;
  color: black;
  text-align: center;
  padding-top: 10px;
  font-size: 1.2rem;
}

.scroll-text {
  text-align: center;
}

/* .nav-html:hover {
  opacity: 0.5;
  transition: all 0.3s;
} */

/* .story-section {
  height: 1080px;
  background-color: violet;
} */

.story {
  text-align: center;
}

.worldmap {
  width: 100vw;
}

.worldmap-img {
  width: 90vw;
  margin-top: 13vw;
  margin-bottom: 13vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.coffee-info {
  position: relative;
  width: 100vw;
  /* height: 100vh; */
  /* margin-bottom: 200px; */
}

.modal {
  position: absolute;
  top: calc(50% - 195px);
  left: calc(50% - 410px);
  width: 820px;
  height: 390px;
  display: none;
  background-color: #ffffff;
  border-radius: 20px;
  z-index: 200;
}

.cancel {
  display: none;
  position: absolute;
  z-index: 240;
  top: 10%;
  left: 93%;
}

.cancel > img {
  width: 20px;
}

.line-white {
  border: 1.2px solid white;
  background-color: #ffffff;
  width: 770px;
  height: 340px;
  margin: 25px;
}

.one {
  display: block;
}
.col-4 {
  width: 294px;
  overflow: hidden;
}

.col-6 {
  font-family: 'Handlee', cursive;
  width: 446px;
  margin-left: 30px;
}

.h-170 {
  height: 170px;
}
.col-1 {
  font-family: 'Handlee', cursive;
  width: 86px;
  padding-left: 10px;
}

.col-3 {
  width: 198px;
}
.country {
  font-size: 2.2rem;
}
.coffee-name {
  font-size: 3.6rem;
  line-height: 0.97;
}

.text {
  /* font-family: "MapoGoldenPier"; */
  font-family: 'Noto Serif', serif;
  font-size: 0.9rem;
  line-height: 1.7;
  height: 110px;
  margin: 0;
  padding-top: 30px;
  word-break: keep-all;
}

.h-30 {
  height: 30px;
}
.h-28 {
  height: 28px;
}
.line {
  width: 37.8px;
  border-left: 1.8px solid black;
  height: 8px;
  margin: auto;
}
.line-right {
  border-right: 1.8px solid black;
}

.text-white {
  color: white;
}
.img {
  /* height: 100%;
  margin: auto;
  display: block; */
  width: 100%;
  margin: auto;
  display: block;
  overflow: hidden;
}
.roasting {
  width: 270px;
  height: 30px;
  /* font-family: "MapoGoldenPier"; */
  font-family: 'Noto Serif', serif;
}
.roasting-point {
  width: 159px;
  height: 30px;
  text-align: right;
}
.level {
  height: 15px;
}

.level-1 {
  border-top: 0.8px solid black;
  border-bottom: 0.8px solid black;
  width: 38.8px;
  margin-top: 12px;
}
.level-2 {
  border-top: 0.8px solid black;
  border-bottom: 0.8px solid black;
  width: 77.6px;
  margin-top: 12px;
}
.level-3 {
  border-top: 0.8px solid black;
  border-bottom: 0.8px solid black;
  width: 116.4px;
  margin-top: 12px;
}
.level-4 {
  border-top: 0.8px solid black;
  border-bottom: 0.8px solid black;
  width: 155.2px;
  margin-top: 12px;
}
.level-5 {
  border-top: 0.8px solid black;
  border-bottom: 0.8px solid black;
  width: 194px;
  margin-top: 12px;
}

.section-scroll {
  height: 100vh;
  background: url('./img/coffee_bg.jpg');
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
}

.coffee-test {
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: -0.2;
  word-spacing: -0.4;
  color: #181818;
  font-weight: 700;
  font-family: 'MapoGoldenPier';
}

.recommend {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 300px;
}

.click-here {
  font-size: 1.2rem;
}

.click-icon {
  width: 14px;
  height: 10px;
  margin-top: 6px;
  margin-right: 10px;
}

.click-up {
  margin-top: 10px;
  margin-left: calc(50vw - 29.6px);
}

.dot {
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: solid black 4px;
  background: #ffc933;
  z-index: 50;
}

#mexico {
  top: 42%;
  left: 12%;
}
#ethiopia {
  top: 50%;
  left: 54%;
}
#kenya {
  top: 55%;
  left: 53%;
}
#tanzania {
  top: 60%;
  left: 51%;
}

#yemen {
  top: 44%;
  left: 57%;
}

#india {
  top: 42%;
  left: 67%;
}
#indonesia {
  top: 54%;
  left: 79%;
}
#papua {
  top: 55%;
  left: 87%;
}
#cuba {
  top: 43%;
  left: 20%;
}
#jamaica {
  top: 46%;
  left: 22%;
}
#guatemala {
  top: 44%;
  left: 15%;
}
#panama {
  top: 48%;
  left: 18%;
}
#hawaii {
  top: 40%;
  left: 92%;
}
#colombia {
  top: 51%;
  left: 22%;
}
#brazil {
  top: 56%;
  left: 27%;
}

#black {
  display: none;
  position: absolute;
  background: black;
  opacity: 80%;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
